/* Stili per la scrollbar in Chrome/Safari/Edge */
.scroll-unknown::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-unknown::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.scroll-unknown::-webkit-scrollbar-thumb {
  background: rgb(var(--unknown-primary));
  border-radius: 4px;
}

/* .button_login.data-\[hover\=true\]\:\!bg-default[data-hover="true"] {
  --tw-bg-opacity: 0 !important;
  background-color: rgba(var(--unknown-primary), 0.1) !important;
} */

.menu_link,
.menu_link svg {
  transition: all 0.2s ease;
  color: var(--unknown-text);
}

.menu_link {
  background-color: transparent;
  outline: 1px solid transparent;
  outline-offset: 0;
}

/* Applica hover solo su dispositivi che lo supportano */
@media (hover: hover) {
  .menu_link:hover {
    background-color: rgba(var(--unknown-primary), 0.2);
  }

  .menu_link:hover svg {
    color: rgb(var(--unknown-primary));
  }

  button.menu_link:hover {
    background-color: rgba(var(--unknown-primary), 0.2) !important;
  }

  button.menu_link:hover svg {
    color: rgb(var(--unknown-primary)) !important;
  }
}

/* Rimuovi l'effetto focus tranne quando si usa la tastiera */
.menu_link:focus:not(:focus-visible) {
  background-color: transparent;
}

.menu_link:focus:not(:focus-visible) svg {
  color: var(--unknown-text);
}

/* Mantieni focus-visible per l'accessibilità da tastiera */
.menu_link:focus-visible {
  background-color: rgba(var(--unknown-primary), 0.2);
}

.menu_link:focus-visible svg {
  color: rgb(var(--unknown-primary));
}

/* Regola specifica per il bottone delle impostazioni */
button.menu_link {
  background-color: transparent !important;
}

#audio_primario,
#audio_secondario,
#sottotitoli_primario,
#sottotitoli_secondario {
  @apply bg-neutral-700/40;
}

.bg-content1 {
  background-color: rgb(var(--unknown-background-secondary));
}

.group[data-selected="true"] .group-data-\[selected\=true\]\:bg-primary {
  background-color: rgb(var(--unknown-primary));
}

.group .bg-default-200 {
  background-color: rgb(var(--unknown-background));
}

.group[data-focus-visible="true"] .group-data-\[focus-visible\=true\]\:ring-focus {
  --tw-ring-color: rgb(var(--unknown-primary));
}