@import url("font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.outline-primary {
  outline-color: rgb(var(--unknown-primary)) !important;
}

.text-danger {
  --tw-text-opacity: 1 !important;
  color: rgba(var(--unknown-error), var(--tw-text-opacity)) !important;
}

.data-\[hover\=true\]\:\!bg-danger[data-hover="true"] {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--unknown-error), var(--tw-bg-opacity)) !important;
}

:root {
  /* Primario */
  --unknown-primary: 46, 139, 87;
  --unknown-primary-hover: 37, 112, 70;

  /* Secondario */
  --unknown-background: 26, 26, 26;
  --unknown-background-secondary: 36, 36, 36;
  --unknown-background-tertiary: 17, 17, 17;

  /* Testo */
  --unknown-text: 255, 255, 255;

  /* Stato */
  --unknown-error: 243, 18, 48;
  --unknown-error-hover: 179, 14, 36;

  /* Altro */
  --unknown-imdb: 245, 197, 24;
}

*:focus-visible {
  outline: 1px solid rgb(var(--unknown-primary-hover)) !important;
}

html {
  scroll-behavior: smooth;
  background-color: rgba(var(--unknown-background), 1) !important;
  color: rgb(var(--unknown-text)) !important;
}

img {
  -webkit-user-drag: none !important;
  -khtml-user-drag: none !important;
  -moz-user-drag: none !important;
  -o-user-drag: none !important;
  user-select: none !important;
}

body {
  font-family: "Netflix Sans", sans-serif;
}
